<div class="row"> 
    <div class="col-12">
        <img height="=300px" width="300px" src="https://cdn1.vectorstock.com/i/1000x1000/64/45/colorful-people-group-team-logo-vector-22436445.jpg">
    </div>
</div>
<div class="row"> 
    <div class="col-12">
        <h1>Team Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-grp">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Team</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        description
    </div>
</div>
<div class="row">
    <div class="col-12">
        Players
    </div>
</div>