<div class="row"> 
    <div class="col-12">
        <img height="=300px" width="300px" [src]="teamSelected.logo">
    </div>
</div>
<div class="row"> 
    <div class="col-12">
        <h1 (click)="emit()">{{teamSelected.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="btn-grp">
            <button type="button" class="btn btn-primary dropdown-toggle">Manage Team</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        {{teamSelected.description}}
    </div>
</div>
<div class="row">
    <span style="font-weight:bold">Players in this Team</span>
    <div class="col-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let player of teamSelected.players">
        {{player.name}} - {{player.keyskill}}
         </li>
        </ul>
    </div>
</div>
